{#
/**
 * @file entity_solution.html.twig
 * Default theme implementation to present Entity solution data.
 *
 * This template is used when viewing Entity solution pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_entity_solution()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('entity_solution') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
